<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\CE433\DES-56bits-key\software\DES_56bits\DES_56bits.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\13.0sp1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="DES_56bits.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="DES_56bits"/>
<stringAttribute key="spdPath" value="D:\CE433\DES-56bits-key\system_tb.spd"/>
</launchConfiguration>
